<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbm.cluster.common.mysql.mapper.BaseAuthorityApikeyMapper">
    <resultMap id="Authority" type="com.jbm.cluster.api.model.auth.OpenAuthority">
        <result column="authority_id" jdbcType="BIGINT" property="authorityId"/>
        <result column="authority" jdbcType="VARCHAR" property="authority"/>
        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
        <result column="owner" jdbcType="VARCHAR" property="owner"/>
    </resultMap>

    <select id="selectAuthorityByKeyId" resultMap="Authority">
        SELECT a.authority_id,
               a.authority,
               ak.expire_time,
               'apikey' AS owner
        FROM base_authority_apikey AS ak
                 INNER JOIN base_authority AS a ON ak.authority_id = a.authority_id
        WHERE ak.key_id = #{keyId}
          AND a.status = 1
          AND (ak.auth_status IS NULL OR ak.auth_status = 1)
    </select>

    <select id="selectAuthorityIdsByKeyId" resultType="java.lang.Long">
        SELECT ak.authority_id
        FROM base_authority_apikey AS ak
        WHERE ak.key_id = #{keyId}
          AND (ak.auth_status IS NULL OR ak.auth_status = 1)
    </select>

    <select id="countApiKeyGrantByApiIds" resultType="com.jbm.cluster.api.model.api.ApiControlCount">
        SELECT a.api_id AS apiId,
               COUNT(DISTINCT ak.key_id) AS count
        FROM base_authority_apikey AS ak
                 INNER JOIN base_authority AS a ON ak.authority_id = a.authority_id
        WHERE a.api_id IS NOT NULL
          AND a.status = 1
          AND (ak.auth_status IS NULL OR ak.auth_status = 1)
          AND (ak.expire_time IS NULL OR ak.expire_time > CURRENT_TIMESTAMP)
          AND a.api_id IN
          <foreach collection="apiIds" item="apiId" open="(" separator="," close=")">
              #{apiId}
          </foreach>
        GROUP BY a.api_id
    </select>
</mapper>
