<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbm.cluster.center.mapper.BaseReleaseInfoMapper">

    <select id="findLastVersionInfo" parameterType="com.jbm.cluster.api.entitys.basic.BaseReleaseInfo" resultType="map">
        SELECT
        *
        FROM
        `base_release_info`
        <where>
            <if test="appId !=null">
                app_id = #{appId}
            </if>
        </where>
        ORDER BY
        INET_ATON(
        SUBSTRING_INDEX( CONCAT( version_number, '.0.0' ), '.', 3 )) DESC
        LIMIT 1
    </select>
</mapper>