<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbm.cluster.center.mapper.BaseUserMapper">
    <resultMap id="BaseResultMap" type="com.jbm.cluster.api.entitys.basic.BaseUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="user_desc" jdbcType="VARCHAR" property="userDesc"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>

    <select id="selectData" resultType="com.jbm.cluster.api.entitys.basic.BaseUser">
        SELECT * FROM base_user WHERE base_user.company_id = #{form.companyId}
        <if test="form.departmentId != null and form.departmentId != ''">
            AND base_user.department_id LIKE concat(#{form.departmentId}, '%')
        </if>
        <if test="form.userName != null and form.userName != ''">
            AND base_user.user_name LIKE concat(#{form.userName}, '%')
        </if>
        <if test="form.realName != null and form.realName != ''">
            AND base_user.real_name = #{form.realName}
        </if>
        <if test="form.mobile != null and form.mobile != ''">
            AND base_user.mobile LIKE concat(#{form.mobile}, '%')
        </if>
        <if test="form.status != null">AND base_user.status = #{form.status}</if>
        <if test="form.beginTime != null">AND base_user.create_time &gt;= #{form.beginTime}</if>
        <if test="form.endTime != null">AND base_user.create_time &lt;= #{form.endTime}</if>
    </select>

    <sql id="orgUserWhere">
        <if test="form.companyId != null">
            AND base_user.company_id = #{form.companyId}
        </if>
        <if test="form.exactDepartment == true and form.departmentId != null">
            AND base_user.department_id = #{form.departmentId}
        </if>
        <if test="form.exactDepartment != true and form.departmentId != null and form.departmentId != ''">
            AND base_user.department_id LIKE concat(#{form.departmentId}, '%')
        </if>
        <if test="form.departmentIds != null and form.departmentIds.size() > 0">
            AND base_user.department_id IN
            <foreach collection="form.departmentIds" item="id" open="(" separator="," close=")">#{id}</foreach>
        </if>
        <if test="form.userId != null">
            AND base_user.user_id = #{form.userId}
        </if>
        <if test="form.userName != null and form.userName != ''">
            AND base_user.user_name LIKE concat(#{form.userName}, '%')
        </if>
        <if test="form.realName != null and form.realName != ''">
            AND base_user.real_name = #{form.realName}
        </if>
        <if test="form.mobile != null and form.mobile != ''">
            AND base_user.mobile LIKE concat(#{form.mobile}, '%')
        </if>
        <if test="form.status != null">AND base_user.status = #{form.status}</if>
        <if test="form.beginTime != null">AND base_user.create_time &gt;= #{form.beginTime}</if>
        <if test="form.endTime != null">AND base_user.create_time &lt;= #{form.endTime}</if>
    </sql>

    <select id="selectOrgUsers" resultType="com.jbm.cluster.api.entitys.basic.BaseUser">
        SELECT * FROM base_user WHERE 1 = 1
        <include refid="orgUserWhere"/>
    </select>

</mapper>
