* text=auto eol=lf

*.java text working-tree-encoding=UTF-8
*.kt text working-tree-encoding=UTF-8
*.groovy text working-tree-encoding=UTF-8
*.xml text working-tree-encoding=UTF-8
*.yml text working-tree-encoding=UTF-8
*.yaml text working-tree-encoding=UTF-8
*.properties text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
*.py text working-tree-encoding=UTF-8
*.ts text working-tree-encoding=UTF-8
*.tsx text working-tree-encoding=UTF-8
*.js text working-tree-encoding=UTF-8
*.jsx text working-tree-encoding=UTF-8
*.vue text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
*.css text working-tree-encoding=UTF-8
*.scss text working-tree-encoding=UTF-8
*.ps1 text working-tree-encoding=UTF-8
*.psm1 text working-tree-encoding=UTF-8
*.psd1 text working-tree-encoding=UTF-8

*.cmd text eol=crlf
*.bat text eol=crlf
