<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbm.cluster.logs.mapper.BusinessLogMapper">

    <!-- 查询条件SQL片段 -->
    <sql id="WHERE_SQL">
        <if test="logId != null and logId != ''">
            AND log_id = #{logId}
        </if>
        <if test="module != null and module != ''">
            AND module = #{module}
        </if>
        <if test="operation != null and operation != ''">
            AND operation = #{operation}
        </if>
        <if test="userId != null and userId != ''">
            AND user_id = #{userId}
        </if>
        <if test="username != null and username != ''">
            AND username like CONCAT('%', #{username}, '%')
        </if>
        <if test="level != null and level != ''">
            AND level = #{level}
        </if>
        <if test="traceId != null and traceId != ''">
            AND trace_id = #{traceId}
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (content like CONCAT('%', #{keyword}, '%') OR biz_data like CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="businessType != null and businessType != ''">
            AND business_type = #{businessType}
        </if>
        <if test="businessId != null and businessId != ''">
            AND business_id = #{businessId}
        </if>
        <if test="source != null and source != ''">
            AND source = #{source}
        </if>
        <if test="beginTime != null and beginTime != ''">
            AND create_time &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND create_time &lt;= #{endTime}
        </if>
    </sql>

    <select id="queryLogByStream" resultType="com.jbm.cluster.api.entitys.log.BusinessLog">
        SELECT * FROM ${streamName}
        WHERE log_id = #{logId}
        ORDER BY update_time ASC
    </select>

    <select id="queryLogsByStream" resultType="com.jbm.cluster.api.entitys.log.BusinessLog">
        SELECT * FROM ${streamName}
        <where>
            <include refid="WHERE_SQL"/>
        </where>
        ORDER BY update_time DESC
    </select>

    <select id="selectByLogIdFromStream" resultType="com.jbm.cluster.api.entitys.log.BusinessLog">
        SELECT * FROM ${streamName}
        WHERE log_id = '${logId}'
        ORDER BY update_time ASC
    </select>

    <select id="selectLogsByStream" resultType="com.jbm.cluster.api.entitys.log.BusinessLog">
        SELECT * FROM ${streamName}
        <where>
            <include refid="WHERE_SQL"/>
        </where>
        ORDER BY update_time DESC
    </select>

    <!-- 查询过期的业务日志 -->
    <select id="selectExpiredLogs" resultType="com.jbm.cluster.api.entitys.log.BusinessLog">
        SELECT * FROM business_log
        WHERE status = 'ACTIVE'
        AND expire_date &lt; now()
        ORDER BY expire_date ASC
    </select>

    <!-- 根据模块和时间范围统计日志数量 -->
    <select id="countByModule" resultType="java.lang.Long">
        SELECT COUNT(*) FROM business_log
        WHERE module = '${module}'
        <if test="beginTime != null">
            AND create_time &gt;= '${beginTime}'
        </if>
        <if test="endTime != null">
            AND create_time &lt;= '${endTime}'
        </if>
    </select>

</mapper>

