<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbm.cluster.logs.mapper.GatewayLogsMapper">


    <sql id="WHERE_SQL">
        <if test="serviceId != null">
            AND service_id = '${serviceId}'
        </if>
        <if test="apiId != null">
            AND api_id = '${apiId}'
        </if>
        <if test="path != null">
            AND path like '%${path}%'
        </if>
        <if test="requestRealName != null">
            AND request_real_name like '%${requestRealName}%'
        </if>
        <if test="useTime != null">
            AND use_time >= ${useTime}
        </if>
        <if test="httpStatus != null">
            AND http_status >= ${httpStatus}
        </if>
        <if test="apiName != null">
            AND apiName like '%${apiName}%'
        </if>
        <if test="appName != null">
            AND app_name like '%${appName}%'
        </if>
        <if test="region != null">
            AND region like '%${region}%'
        </if>
        <if test="method != null">
            AND method = '${method}'
        </if>
        <if test="ip != null">
            AND ip like '%${ip}%'
        </if>
        <if test="operationType != null">
            AND operation_type = '${operationType}'
        </if>
        <if test="appKey != null">
            AND app_name = '%${appKey}%'
        </if>
    </sql>
    <select id="selectLogs" resultType="com.jbm.cluster.logs.entity.GatewayLogs">
        select * from gateway_logs
        <where>
            <include refid="WHERE_SQL"/>
        </where>
    </select>
    <select id="selectOperationLogs" resultType="com.jbm.cluster.logs.entity.GatewayLogs">
        select * from gateway_logs
        <where>
            <include refid="WHERE_SQL"/>
            and request_user_id is not null
        </where>
    </select>


</mapper>