<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="pattern">%d %p - %m%n</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>

		<!-- root -->
		<RollingFile name="rootAppender" fileName="/data/logs/open_sdk_java.log"
			filePattern="/data/logs/open_sdk_java-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="512 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="rootAppender" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>